/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
	background: url(../img/bg_repeat.jpg) 0 0;
}
.ddd{
	margin: 0 0 0 425px;
}
.men{
	font-size: 50px;
	color: blue;
}
.v{
	font-size: 35px;
	color: yellow;
}
.vv{
	font-size: 25px;
}
.c{
	color: green;
	font-size: 35px;
}
.cc{
	font-size: 25px;
}
.n{
	color: red;
	font-size: 35px;
}
.nn{
	font-size: 25px;
}
.s{
	color: purple;
	font-size: 25PX;
}
.ds{
	color: orange;
	font-size: 35px;
}
.jj{
	font-size: 25px;
}
.llll{
	color: brown;
	font-size: 35px;
}
.sas{
	font-size: 25px;
}